extends layout

block content
  .row
    .col-md-6.col-md-push-3
      .panel.panel-primary.text-center
        .panel-heading Radom Quote Generator of AI
        .panel-body
            h2 Hola mundo aca pondremos las citas!
            button.btn.btn-success(type="button") Nueva cita
